body {
    margin-top: 100px;
}

.wrapper {
    max-width: 800px;
    margin: auto; 
}

.float {
    float: left;
    width: 25%;
}
nav {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;     /* トップに表示↓ top:0 */
    z-index: 9;
}