body {
    margin-top: 100px;
    background-color: #aad4cf;
}
header {
    color: white;
    font-size: 30px;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto; 
}

img {
    width: 200px;
    float: left;
}

/* .float {
    float: left;
    width: 25%;
} */

p {
    background-color:  #aad4cf;
}
