/* background color of page and font styles */
body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* wrap over the all contents */
.wrapper {
    max-width: 1024px;
    margin: 0 auto; 
    background-color: #cfeae7;
}

/* top image and the header style */
.headerPart {
    position: relative;
    text-align: center; 
    color: white;
}

/* change the color of text of heading  */
.site-title {
    position: absolute;
    font-size: 60px;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* title's background starfish image */
#wide_starfish_img {
    width: 100%;
    padding-bottom: 15px;
}

/* index navigation part */
.navigation {
    background-color: #cfeae7;
    overflow: hidden;
}

/* navigation bar font-size, color, text-place, margin setting */
nav ul li{
    padding-left: 75px;
    padding-right: 50px;
    font-size: 1.75rem;
    color: black;
    text-align: center;
    display: inline;
    margin: 50px;
  }

/* create border between navigation bar */

/* nth-child removes right border on first list "HOME" */
nav li:nth-child(1){
    border-left: none;
    border-right: 1px solid black;
    padding: 0px 100px 0px 100px;
}

/* nth-child removes right border on second list "STORY" */
nav li:nth-child(2){
    border-style: none;
    padding: 0px;
}

/* nth-child removes right border on third list "CONTACT" */
nav li:nth-child(3){
    border-right: none;
    border-left: 1px solid black;
    padding: 0px 50px 0px 100px;
}

 /* navigation bar links */
a:link {
    color:black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color:black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color:black;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color:black;
    background-color: transparent;
    text-decoration: none;
}

/* main contents */

/* add padding around contents */
main {
    padding: 1rem;
}

h2,h3 {
    margin: 10px;
    padding-top: 10px;
    font-size: 2rem;
    padding-left: 10px;
}

/* small starfish image */
.introduction img {
    width: 200px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

/* set paragraph place wrapping around image */
p {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 10px;
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 20px;
}

/* set the lists possition */
.facts ul {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 10px;
    font-size: 1rem;
    letter-spacing: 0px;
}

/* add dots before lists?  */
section ul li::before {
    content: "•"; 
    color: black;
    padding-right: 10px; 
}

/* Forms part */

form {
    padding: 30px 10px 10px 20px;
    margin: 10px 15px 15px 20px;
    border-width: 2px;
    border-style: solid;
    border-color:black;
}

.contacts div{
    padding: .2rem;
}
 
.contacts textarea {
    width: 100%;
    padding-bottom: 16px;
    margin-bottom: 1.25rem; 
}

/* place the forms*/
.contacts #name, #email, #message {
    padding: 12px;
    width: 90%;
    margin: 0px; 
}

/* the margin around words in form box*/
section form div {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


/* fix the inside button size */
button, a:hover {
    background-color: rgb(212,233,231);
    border: none;
    padding: 10px;
}

/* spacing around submit button and write border */
.button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border: 2px solid black;
    margin-right: 842px;
    margin-left: 15px;
    padding: 2px;
}

footer {
    text-align: right;
    padding: 20px;
}