body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: #E7C9CE;
}

/* add class to HTML heading  */
.site-title {
    color: #E67A7A;
}

/* add my-image and photo to HTML */
#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

/* add hobbies using box to HTML */
.hobbies {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}

/* add a background to the odd list items in the hobby list */
.hobbies p:nth-child(odd) {
    background: plum; 
}

/* remove underline */
/* Add a background and border to the links */
nav a:link {
    text-decoration: none;
    border: 1px solid;
    background-color:#7EC2C2;
}

/* Change the background colour on hover or focus state of the links */
nav a:hover {
    text-decoration: none;
    background-color: red;
}

